.about_view {
  // margin-top: -8.5rem;
  &_section {
    position: relative;
    &_img {
      // width: 192rem;
      // height: 68.6rem;
      width: 100%;
      height: auto;
    }
    &_main {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      top: 0;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }
    &_tip {
      color: #ffffff;
      margin-bottom: 2rem;
      font-size: 4.1rem;
    }
    &_title {
      font-family: PingFang SC, PingFang SC;
      font-weight: 400;
      // line-height: 2.2rem;
      font-size: 1.6rem;
      text-align: center;
      color: #ffffff;
    }
    &_desc {
      text-align: center;
      color: #ffffff;
      font-family: PingFang SC, PingFang SC;
      font-weight: 400;
      font-size: 2.5rem;
      line-height: 4rem;
    }
  }
  &_boxmain {
    position: relative;
    &_img {
      width: 100%;
      height: auto;
    }
    &_content {
      height: 100%;
      width: 144rem;
      padding: 13rem 10% 0 10%;
      box-sizing: border-box;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      top: 0;
      z-index: 9;
      &_title {
        color: #0a6250;
        font-size: 7rem;
        font-weight: bold;
        font-family: PingFang SC, PingFang SC;
        margin-bottom: 16rem;
        span {
          font-weight: 500;
          font-size: 3.2rem;
        }
      }
      &_info {
        margin-bottom: 12rem;
        &_item {
          display: flex;
          margin-bottom: 2rem;
          justify-content: center;
          &_icon {
            height: 8rem;
          }
        }
        &_item:first-child {
          justify-content: flex-start;
          .about_view_boxmain_content_info_item_icon {
            height: 6.6rem;
          }
        }
        &_item:last-child {
          justify-content: flex-end;
          margin-bottom: 0;
          .about_view_boxmain_content_info_item_icon {
            height: 8.85rem;
          }
        }
      }
      &_main {
        &_title {
          font-family: PingFang SC, PingFang SC;
          font-weight: 700;
          font-family: PingFang SC, PingFang SC;
          font-size: 3.2rem;
          line-height: 4rem;
          letter-spacing: 0%;
          margin-bottom: 6rem;
          color: #0a6250;
          position: relative;
        }
        &_title::after {
          content: '';
          width: 6rem;
          height: 2px;
          background: #0a6250;
          position: absolute;
          top: 6rem;
          left: 0;
        }
        &_tip {
          font-family: PingFang SC, PingFang SC;
          font-weight: 400;
          font-size: 2.2rem;
          line-height: 4.2rem;
          color: #323232;
        }
      }
    }
  }
  &_boxs {
    margin-top: -1.5rem;
    position: relative;
    &_img {
      width: 100%;
      height: auto;
    }
    &_main {
      width: 144rem;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      top: 0;
      p {
        position: absolute;
        top: 15rem;
        right: 0;
        width: 40%;
        font-family: PingFang SC, PingFang SC;
        font-weight: 400;
        font-size: 2.2rem;
        line-height: 4.2rem;
        color: #ffffff;
      }
    }
  }
  &_box {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    &_main {
      width: 144rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 3rem;
      padding: 8rem 0;
      &_desc {
        width: 40%;
        &_title {
          font-family: PingFang SC, PingFang SC;
          font-weight: 700;
      font-family: PingFang SC, PingFang SC;
          font-size: 3.2rem;
          line-height: 4rem;
          letter-spacing: 0%;
          margin-bottom: 3rem;
          color: #323232;
        }
        &_tip {
          font-family: PingFang SC, PingFang SC;
          font-weight: 400;
          font-size: 1.6rem;
          line-height: 2.6rem;
          color: #323232;
        }
      }
      &_img {
        width: 40%;
        height: auto;
      }
    }
    &_section {
      background: #a8c4d3;
      width: 100%;
      padding: 8rem 0;
    }
    &_mains {
      width: 144rem;
      display: flex;
      justify-content: space-between;
      margin: 0 auto;
      align-items: center;
      &_desc {
        width: 40%;
        &_title {
          font-family: PingFang SC, PingFang SC;
          font-weight: 700;
      font-family: PingFang SC, PingFang SC;
          font-size: 2.8rem;
          line-height: 4rem;
          letter-spacing: 0%;
          margin-bottom: 3rem;
          color: #323232;
        }
        &_tip {
          font-family: PingFang SC, PingFang SC;
          font-weight: 400;
          font-size: 1.6rem;
          line-height: 2.6rem;
          color: #323232;
        }
      }
      &_img {
        width: 40%;
        height: auto;
      }
    }
    &_line {
      background: #ffffff;
      height: 1rem;
      width: 100%;
    }
    &_container {
      padding: 0rem 0 12rem 0;
      width: 100%;
      &_title {
        font-weight: 700;
      font-family: PingFang SC, PingFang SC;
        font-size: 3.2rem;
        line-height: 4rem;
        color: #136857;
        text-align: center;
        margin-bottom: 7rem;
      }
      &_swiper {
        width: 144rem;
        margin: 0 auto;
        &_item {
          display: flex;
          align-items: center;
          justify-content: center;
          &_img {
            width: 24rem;
            height: 29.3rem;
          }
        }
      }
    }
    &_introduce {
      padding: 12rem 0;
      &_main {
        width: 144rem;
        margin: 0 auto;
        padding: 0 10%;
        box-sizing: border-box;
        &_title {
          font-family: PingFang SC, PingFang SC;
          font-weight: 700;
          font-size: 3.2rem;
          line-height: 4rem;
          color: #136857;
          letter-spacing: 0%;
          margin-bottom: 3rem;
        }
        &_tip {
          font-family: PingFang SC, PingFang SC;
          font-weight: 400;
          font-size: 2.2rem;
          line-height: 4.2rem;
          color: #323232;
        }
      }
    }
  }
}
.w144 {
  width: 80rem;
  margin: 0 auto;
}
.w36 {
  width: 65rem;
  align-items: flex-start;
  .about_view_section_desc {
    text-align: left;
  }
  .about_view_section_desc:last-child {
    margin-bottom: 12rem;
  }
}

@media screen and (max-width: 768px) {
  .about_view {
    margin-top: 0rem;
    &_section {
      position: relative;
      background-size: cover;
      height: auto;
      position: relative;
      &_img {
        width: 100%;
        height: auto;
      }
      &_main {
        transform: translateX(0);
        position: absolute;
        left: 0 !important;
        top: 0;
        width: 100% !important;
        height: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
        padding: 0 0 0 7rem;
        box-sizing: border-box;
      }
      &_tip {
        color: #ffffff;
        font-size: 1.6rem;
        margin-bottom: 1rem;
      }
      &_title {
        font-family: PingFang SC, PingFang SC;
        font-weight: 400;
        font-size: 1rem;
        line-height: 2rem;
        color: #ffffff;
        text-align: center;
      }
      &_title:last-child {
        margin-bottom: 4rem;
      }
      &_desc {
        color: #323232;
        font-family: PingFang SC, PingFang SC;
        font-weight: 400;
        font-size: 1.6rem;
        text-align: center;
        line-height: 2rem;
      }
    }
    &_boxs {
      margin-top: -1.5rem;
      position: relative;
      &_img {
        width: 100%;
        height: auto;
      }
      &_main {
        width: 100%;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 0;
        p {
          position: absolute;
          top: 15rem;
          right: 0;
          width: 40%;
          font-family: PingFang SC, PingFang SC;
          font-weight: 400;
          font-size: 2.2rem;
          line-height: 4.2rem;
          color: #ffffff;
        }
      }
    }
    &_boxmain {
      margin-top: -0.5rem;
      position: relative;
      &_img {
        width: 100%;
        height: auto;
      }
      &_contents {
        position: absolute;
        width: 100%;
        padding: 0 3.5rem;
        box-sizing: border-box;
        left: 0;
        top: 32rem;
        &_title {
          font-family: PingFang SC, PingFang SC;
          font-weight: 700;
          -webkit-text-stroke: 0.8px;
          font-size: 1.8rem;
          letter-spacing: 0%;
          margin-bottom: 2.3rem;
          color: #0a6250;
          position: relative;
        }
        &_title::after {
          content: '';
          width: 3.5rem;
          height: 2px;
          background: #0a6250;
          position: absolute;
          top: 3rem;
          left: 0;
        }
        &_tip {
          font-family: PingFang SC, PingFang SC;
          font-weight: 400;
          font-size: 1.2rem;
          line-height: 1.8rem;
          color: #333333;
          margin-bottom: 1rem;
        }
      }
    }
    &_box {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      &_main {
        width: 100%;
        display: flex;
        margin-bottom: 1rem;
        flex-direction: column;
        padding: 4rem 0 2rem 0;
        &_desc {
          width: 100%;
          padding-bottom: 2.5rem;
          &_title {
            font-family: PingFang SC, PingFang SC;
            font-weight: 700;
            -webkit-text-stroke: 0.8px; 
            font-size: 1.8rem;
            line-height: 2.4rem;
            letter-spacing: 0%;
            margin-bottom: 1.5rem;
            color: #323232;
            text-align: center;
          }
          &_tip {
            font-family: PingFang SC, PingFang SC;
            font-weight: 400;
            font-size: 1.2rem;
            line-height: 1.8rem;
            padding: 0 3rem;
            margin-bottom: 1.5rem;
            color: #323232;
          }
        }
        &_img {
          width: 100%;
          height: auto;
        }
      }
      &_section {
        background: #a8c4d3;
        width: 100%;
        padding: 4rem 0 2rem 0;
      }
      &_mains {
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        margin: 0 auto;
        &_desc {
          width: 100%;
          padding-bottom: 2.5rem;
          &_title {
            font-family: PingFang SC, PingFang SC;
            font-weight: 700;
            -webkit-text-stroke: 0.8px; 
            font-size: 1.8rem;
            line-height: 2.4rem;
            letter-spacing: 0%;
            margin-bottom: 1.5rem;
            color: #323232;
            text-align: center;
          }
          &_tip {
            font-family: PingFang SC, PingFang SC;
            font-weight: 400;
            font-size: 1.2rem;
            line-height: 1.8rem;
            padding: 0 3rem;
            margin-bottom: 1.5rem;
            color: #323232;
          }
        }
        &_img {
          width: 100%;
          height: auto;
        }
      }
      &_line {
        background: #ffffff;
        height: 0.5rem;
        width: 100%;
      }
      &_container {
        // background: #edeef3;
        padding: 2rem 0 12rem 0;
        width: 100%;
        &_title {
          font-family: PingFang SC, PingFang SC;
          font-weight: 700;
          -webkit-text-stroke: 0.8px; 
          font-size: 1.8rem;
          color: #136857;
          letter-spacing: 0%;
          margin-bottom: 1rem;
        }
        &_swiper {
          width: 100%;
          margin: 0 auto;
          &_item {
            &_img {
              width: 100%;
              height: auto;
            }
          }
        }
      }
      &_introduce {
        padding: 6rem 0 4rem 0;
        &_main {
          width: 100%;
          margin: 0 auto;
          padding: 0 10%;
          box-sizing: border-box;
          &_title {
            font-family: PingFang SC, PingFang SC;
            font-weight: 700;
            -webkit-text-stroke: 0.8px; 
            font-size: 1.8rem;
            // line-height: 4rem;
            color: #136857;
            letter-spacing: 0%;
            margin-bottom: 1rem;
          }
          &_tip {
            font-family: PingFang SC, PingFang SC;
            font-weight: 400;
            font-size: 1.2rem;
            line-height: 1.8rem;
            color: #323232;
          }
        }
      }
    }
  }

  .w144 {
    width: 100%;
    margin: 0 auto;
  }
  .w36 {
    width: 100%;
  }
}

::v-deep .swiper-button-next,
::v-deep .swiper-button-prev {
  color: #0a6250; /* ← 修改为你想要的颜色，比如 red, #fff, etc. */
}