.help_view {
  margin-top: -8.5rem;
  &_section {
    padding-top: 16.7rem;
    height: 50rem;
    background-image: url('/home_bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    &_title {
      text-indent: 30rem;
      font-family: Roboto;
      font-weight: 700;
      font-size: 8.8rem;
      line-height: 10.6rem;
      margin-bottom: 2.4rem;
    }
    &_desc {
      margin-left: 30rem;
      font-family: Roboto;
      font-weight: 400;
      font-size: 2.8rem;
      line-height: 4.3rem;
      letter-spacing: 0.025rem;
      width: 91.4rem;
    }
  }
  &_box {
    padding: 4.2rem 0;
    width: 156.4rem;
    margin: 0 auto;
    &_tip {
      margin-bottom: 3rem;
      font-family: Roboto;
      font-weight: 500;
      font-size: 1.4rem;
      line-height: 6.15rem;
      color: #3370FF;
      span {
        color: #B4B4B4;
      }
    }
    &_main {
      display: flex;
      justify-content: space-between;
      &_nav {
        width: 40rem;
        &_title {
          height: 9.2rem;
          line-height: 9.2rem;
          text-indent: 4rem;
          font-family: Roboto;
          font-weight: 500;
          font-size: 2.4rem;
          color: #000000;
        }
        &_link {
          margin-bottom: 0.8rem;
          padding: 0.1rem 0.4rem;
          font-family: Roboto;
          font-weight: 400;
          font-size: 2rem;
          line-height: 2.8rem;
          color: #3370FF;
          box-sizing: border-box;
          cursor: pointer;
        }
        &_link.active {
          background: #E7EEFF;
        }
      }
      &_info {
        width: 103.4rem;
      }
    }
  }
}
.help_view_box_main_info_title {
  font-family: Roboto;
  font-weight: 500;
  font-size: 3.8rem;
  line-height: 4.6rem;
  margin-bottom: 1rem;
  color: #1B1B1B;
}
.help_view_box_main_info_desc {
  font-family: Roboto;
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 3.2rem;
  margin-bottom: 1rem;
  color: rgba(27,27,27,0.6);
}

@media screen and (max-width: 768px) {
  .help_view_section {
    width: 100%;
    height: auto;
    padding-top: 10rem;
  }
  .help_view_section_title {
    font-size: 3.2rem;
    width: 100%;
    padding-left: 1.6rem;
    box-sizing: border-box;
    text-align: left;
    text-indent: 0;
    line-height: 3.6rem;
  }
  .help_view_section_desc {
    line-height: 3rem;
    font-size: 2.4rem;
    padding-left: 1.6rem;
    box-sizing: border-box;
    margin-bottom: 1rem;
    width: 100%;
    text-align: left;
    margin-left: 0;
  }
  .help_view_box_main {
    width: 100%;
    padding: 0 1.6rem;
    box-sizing: border-box;
    flex-direction: column;
  }
  .help_view_box_main_item {
    width: 100%;
  }
  .help_view_box {
    padding-left: 1.6rem;
    box-sizing: border-box;
    width: 100%;
  }
  .help_view_box_main_info,
  .help_view_box_main_nav {
    width: 100%;
  }
  .help_view_box_link {
    line-height: 3rem;
    font-size: 2.4rem;
  }

  .help_view_box_main_info_title {
    font-family: Roboto;
    font-weight: 500;
    font-size: 3.2rem;
    line-height: 4rem;
    margin-bottom: 1rem;
  }
  .help_view_box_main_info_desc {
    font-family: Roboto;
    font-weight: 400;
    font-size: 2.4rem;
    line-height: 3.2rem;
    margin-bottom: 1rem;
  }
}