.help_view {
  margin-top: -8.5rem;
  &_section {
    padding-top: 16.7rem;
    height: 50rem;
    background-image: url('/home_bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    &_title {
      text-indent: 30rem;
      font-family: Roboto;
      font-weight: 700;
      font-size: 8.8rem;
      line-height: 10.6rem;
      margin-bottom: 2.4rem;
    }
    &_desc {
      margin-left: 30rem;
      font-family: Roboto;
      font-weight: 400;
      font-size: 2.8rem;
      line-height: 4.3rem;
      letter-spacing: 0.025rem;
      width: 91.4rem;
    }
  }
  &_box {
    padding-top: 5rem;
    &_main {
      width: 103.4rem;
      margin: 0 auto 8.8rem auto;
      display: flex;
      gap: 3.7rem;
      flex-wrap: wrap;
      &_item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0.08rem;
        width: 32rem;
        height: 28rem;
        border-radius: 4rem;
        background-color: rgba(241, 245, 255, 1);
        text-decoration: none;
        cursor: pointer;
        &_img {
          height: 10.8rem;
          width: auto;
        }
        &_text {
          font-family: Roboto;
          font-weight: 500;
          font-size: 3rem;
          line-height: 4rem;
          color: #262626;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .help_view_section {
    width: 100%;
    height: auto;
    padding-top: 10rem;
  }
  .help_view_section_title {
    font-size: 3.2rem;
    width: 100%;
    padding-left: 1.6rem;
    box-sizing: border-box;
    text-align: left;
    text-indent: 0;
    line-height: 3.6rem;
  }
  .help_view_section_desc {
    line-height: 3rem;
    font-size: 2.4rem;
    padding-left: 1.6rem;
    box-sizing: border-box;
    margin-bottom: 1rem;
    width: 100%;
    text-align: left;
    margin-left: 0;
  }
  .help_view_box_main {
    width: 100%;
    padding: 0 1.6rem;
    box-sizing: border-box;
    flex-direction: column;
  }
  .help_view_box_main_item {
    width: 100%;
  }
}