.post_view {
  margin-top: -8.5rem;
  &_section {
    padding-top: 16.7rem;
    height: 50rem;
    background-image: url('/home_bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    &_title {
      text-indent: 30rem;
      font-family: Roboto;
      font-weight: 700;
      font-size: 8.8rem;
      line-height: 10.6rem;
      margin-bottom: 2.4rem;
    }
    &_desc {
      margin-left: 30rem;
      font-family: Roboto;
      font-weight: 400;
      font-size: 2.8rem;
      line-height: 4.3rem;
      letter-spacing: 0.025rem;
      width: 91.4rem;
    }
  }
  &_main {
    background: #F5F6FA;
    padding: 8rem 0;
    &_action {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      height: 9.6rem;
      gap: 1.2rem;font-family: Roboto;
      font-weight: 500;
      font-size: 2rem;
      color: #3399FF;
      width: 132rem;
      margin: 0 auto 3.2rem auto;
      cursor: pointer;
      &_icon {
        width: 3.2rem;
        height: 3.2rem;
      }
    }
    &_box {
      width: 132rem;
      margin: 0 auto;
      &_title {
        color: #111111;
        font-family: Roboto;
        font-weight: 700;
        font-size: 4.8rem;
        line-height: 4.8rem;
        margin-bottom: 3rem;
      }
      &_section {
        padding: 3.2rem 0;
        &_head {
          display: flex;
          align-items: center;
          &_img {
            width: 4.8rem;
            height: 4.8rem;
          }
          &_info {
            padding-left: 1.2rem;
            &_title {
              font-family: Roboto;
              font-weight: 500;
              font-size: 1.7rem;
              line-height: 2.2rem;
              color: #000000;
            }
            &_value {
              font-family: Roboto;
              font-weight: 400;
              font-size: 1.2rem;
              line-height: 1.6rem;
              color: rgba(0, 0, 0, 0.4);
            }
          }
        }
      }
    }
    &_list {
      width: 132rem;
      margin: 0 auto;
      display: flex;
      flex-wrap: wrap;
      gap: 3.2rem;
      &_item {
        cursor: pointer;
        width: 30.6rem;
        height: 50rem;
        background: #FFFFFF;
        padding-bottom: 2.4rem;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        border-radius: 1.6rem;
        overflow: hidden;
        &_img {
          width: 30.6rem;
          max-height: 30.6rem;
        }
        &_content {
          padding: 1.6rem;
          font-family: Roboto;
          font-weight: 400;
          font-size: 1.5rem;
          line-height: 2.25rem;
          letter-spacing: 0%;
          vertical-align: middle;
          color: #000000;
          max-height: 37.7rem;
        }
        &_section {
          display: flex;
          flex-direction: column;
          gap: 1.6rem;
          height: 37.7rem;
          overflow: hidden;
          margin-bottom: 1.6rem;
        }
        &_box {
          padding: 0 1.6rem;
          &_info {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 1.7rem;
            &_zan {
              display: flex;
              align-items: center;
              padding: 0 1.4rem;
              height: 3rem;
              border-radius: 10rem;
              background: #ECECF2;
              color: #000000;
              font-size: 1.2rem;
              font-weight: 900;
              gap: 1rem;
              &_icon {
                width: 1.8rem;
                height: 1.8rem;
              }
            }
            &_view {
              display: flex;
              align-items: center;
              gap: 1rem;
              &_icon {
                width: 2rem;
                height: 2rem;
              }
              &_value {
                font-family: Roboto;
                font-weight: 400;
                font-size: 1.2rem;
                color: #cccccc;
              }
            }
          }
          &_other {
            height: 3.2rem;
            display: flex;
            align-items: center;
            justify-content: space-between;
            &_user {
              display: flex;
              align-items: center;
              gap: 1rem;
              font-family: Roboto;
              font-weight: 500;
              font-size: 1.6rem;
              color: #3399FF;
              &_img {
                height: 3.2rem;
                width: 3.2rem;
              }
            }
            &_img {
              height: 3.2rem;
              width: 3.2rem;
            }
          }
        }
      }
    }
  }
}
.mask {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 88;
}
.modal {
  position: absolute;
  left: 50%;
  top: calc(50%);
  transform: translate(-50%, -50%);
  height: 88.5rem;
  width: 66.6rem;
  background: #ffffff;
  border-radius: 1.6rem;
  overflow: hidden;
  box-shadow: 0 0.4rem 1.2rem 0 rgba(0, 0, 0, 0.12);
  &_main {
    height: 76.2rem;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
  }
  &_img {
    width: 100%;
    height: auto;
  }
  &_tip {
    padding: 0 1.5rem;
    font-family: Roboto;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 2.25rem;
    color: #000000;
  }
  &_box {
    padding: 0 1.6rem;
    &_info {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 1.7rem;
      &_zan {
        display: flex;
        align-items: center;
        padding: 0 1.4rem;
        height: 3rem;
        border-radius: 10rem;
        background: #ECECF2;
        color: #000000;
        font-size: 1.2rem;
        font-weight: 900;
        gap: 1rem;
        &_icon {
          width: 1.8rem;
          height: 1.8rem;
        }
      }
      &_view {
        display: flex;
        align-items: center;
        gap: 1rem;
        &_icon {
          width: 2rem;
          height: 2rem;
        }
        &_value {
          font-family: Roboto;
          font-weight: 400;
          font-size: 1.2rem;
          color: #cccccc;
        }
      }
    }
    &_other {
      height: 3.2rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      &_user {
        display: flex;
        align-items: center;
        gap: 1rem;
        font-family: Roboto;
        font-weight: 500;
        font-size: 1.6rem;
        color: #3399FF;
        &_img {
          height: 3.2rem;
          width: 3.2rem;
        }
      }
      &_img {
        height: 3.2rem;
        width: 3.2rem;
      }
    }
  }
}


@media screen and (max-width: 768px) {
  .post_view_section {
    width: 100%;
    height: auto;
    padding-top: 10rem;
  }
  .post_view_section_title {
    font-size: 3.2rem;
    width: 100%;
    padding-left: 1.6rem;
    box-sizing: border-box;
    text-align: left;
    text-indent: 0;
    line-height: 3.6rem;
  }
  .post_view_section_desc {
    line-height: 3rem;
    font-size: 2.4rem;
    padding-left: 1.6rem;
    box-sizing: border-box;
    margin-bottom: 1rem;
    width: 100%;
    text-align: left;
    margin-left: 0;
  }
  .post_view_main_box {
    width: 100%;
  }
  .post_view_main_box_title {
    padding-left: 1.6rem;
    box-sizing: border-box;
    font-size: 3.2rem;
    width: 100%;
    box-sizing: border-box;
    text-align: left;
    text-indent: 0;
    line-height: 3.6rem;
  }
  .post_view_main_box_section {
    padding: 1.6rem 0 1.6rem 1rem;
  }
  .post_view_main_list {
    width: 100%;
    flex-direction: column;
  }
  .post_view_main_list_item {
    width: 100%;
  }
  .post_view_main_list_item_section {
    width: 100%;
    height: auto;
  }
  .post_view_main_list_item_img {
    width: 100%;
    height: auto;
  }
  .post_view_main_action {
    width: 100%;
    padding: 1.6rem 1.6rem 1.6rem 0;
    box-sizing: border-box;
    height: auto;
    margin-bottom: 1.6rem;
  }
  .post_view_main_box_title {
    font-size: 2.6rem;
  }
  .modals {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    max-height: 80vh;
    background: #ffffff;
    animation: slip_in .3s;
    border-radius: 1.6rem;
    overflow: scroll;
    box-shadow: 0 0.4rem 1.2rem 0 rgba(0, 0, 0, 0.12);
    &_main {
      height: 76.2rem;
      display: flex;
      flex-direction: column;
      gap: 1.6rem;
    }
    &_img {
      width: 100%;
      height: 24.2rem;
    }
    &_tip {
      padding: 0 1.5rem;
      font-family: Roboto;
      font-weight: 400;
      font-size: 1.5rem;
      line-height: 2.25rem;
      color: #000000;
    }
    &_box {
      padding: 0 1.6rem;
      &_info {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 1.7rem;
        &_zan {
          display: flex;
          align-items: center;
          padding: 0 1.4rem;
          height: 3rem;
          border-radius: 10rem;
          background: #ECECF2;
          color: #000000;
          font-size: 1.2rem;
          font-weight: 900;
          gap: 1rem;
          &_icon {
            width: 1.8rem;
            height: 1.8rem;
          }
        }
        &_view {
          display: flex;
          align-items: center;
          gap: 1rem;
          &_icon {
            width: 2rem;
            height: 2rem;
          }
          &_value {
            font-family: Roboto;
            font-weight: 400;
            font-size: 1.2rem;
            color: #cccccc;
          }
        }
      }
      &_other {
        height: 3.2rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        &_user {
          display: flex;
          align-items: center;
          gap: 1rem;
          font-family: Roboto;
          font-weight: 500;
          font-size: 1.6rem;
          color: #3399FF;
          &_img {
            height: 3.2rem;
            width: 3.2rem;
          }
        }
        &_img {
          height: 3.2rem;
          width: 3.2rem;
        }
      }
    }
  }
}

@keyframes slip_in
{
  from {transform:translateY(100%);}
  to {transform:translateY(0);}
}
