.product_view {
  &_box1 {
    background: #6F87A0;
    padding: 8rem 0;
    &_main {
      width: 120rem;
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: space-between;
      &_title {
        width: 30%;
        color: #ffffff;
        font-size: 3.2rem;
        font-weight: bold;
      }
      &_desc {
        width: 70%;
        color: #ffffff;
        font-size: 1.6rem;
      }
    }

  }
  &_box2 {
    background: #6F87A0;
    padding: 8rem 0;
    margin: 2rem 0;
    &_main {
      width: 120rem;
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: space-between;
      &_title {
        width: 30%;
        color: #ffffff;
        font-size: 3.2rem;
        font-weight: bold;
      }
      &_desc {
        width: 70%;
        color: #ffffff;
        font-size: 1.6rem;
      }
    }
  }
  &_section {
    display: block;
    text-decoration: none;
    &_info {
      width: 40%;
      &_img {
        width: 100%;
        height: auto;
      }
    }
    &_box {
      width: 50%;
      &_title {
        font-size: 2.4rem;
        margin-bottom: 2rem;
        color: #323232;
      }
      &_desc {
        font-size: 1.8rem;
        color: #333333;
        margin-bottom: 3rem;
      }
      &_btn {
        display: flex;
        align-items: center;
        padding: 0 1rem;
        height: 3rem;
        font-size: 1.6rem;
        color: #ffffff;
        background: #0a6250;
        border-radius: 125px;
      }
    }
  }
  &_main {
    margin-bottom: 2rem;
    display: block;
    text-decoration: none;
    &_info {
      width: 25%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      &_title {
        font-size: 2.4rem;
        margin-bottom: 2rem;
        color: #323232;
      }
      &_btn {
        display: flex;
        align-items: center;
        padding: 0 1rem;
        height: 3rem;
        font-size: 1.6rem;
        color: #ffffff;
        background: #0a6250;
        border-radius: 125px;
      }
    }
    &_detail {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 70%;
      &_img {
        width: 45%;
        height: auto;
      }
      &_imgs {
        width: 100%;
        height: auto;
      }
    }
  }
}
.box {
  width: 120rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.flex {
  display: flex
}